<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="http://localhost:5000/course">SDN301m</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active h5 text-uppercase fw-semibold" aria-current="page" href="http://localhost:5000/course">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active h5 text-uppercase fw-semibold" aria-current="page" href="http://localhost:5000/dashboard/create">Create course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active h5 text-uppercase fw-semibold" aria-current="page" href="http://localhost:5000/dashboard">Dashboard</a>
          </li>
        </ul>
        <form class="d-flex" role="search" style="margin-right: 5px;">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a href="http://localhost:5000/auth/logout" class="btn btn-outline-success" type="submit">Logout</a>
      </div>
    </div>
  </nav>